<!DOCTYPE html>
<html >
<head>
  <!-- Site made with Mobirise Website Builder v4.8.8, https://mobirisethemes.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.8.8, mobirisethemes.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo2-128x128.png" type="image/x-icon">
  <meta name="description" content="">
  <title>Real-Time Chatapp</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
  <section class="menu cid-r7hPv7gH49" once="menu" id="menu1-1">

    

    <nav class="navbar navbar-dropdown align-items-center navbar-toggleable-sm">
        
        <div class="menu-bottom">


            <div class="menu-logo">
                <div class="navbar-brand">
                    
                    <span class="navbar-caption-wrap"><a href="/" class="brand-name mbr-black text-black mbr-bold display-4"><span style="font-weight: normal;">Real Time ChatApp</span></a></span>
                </div>
            </div>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!--User Login-->
                <% if(!user) { %>
                <ul class="navbar-nav nav-dropdown js-float-line" data-app-modern-menu="true"><li class="nav-item">
                        <a class="nav-link link mbr-black text-black display-4" href="/register">
                            Sign Up</a>
                    </li></ul>
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-md btn-black-outline display-4" href="/login"> Login</a></div>
                <% }else { %>
                     <!--User Logout-->
                <ul class="navbar-nav nav-dropdown js-float-line" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link mbr-black text-black display-4" href="/chatbox">
                        Welcome, <%= user.username %></a>
                </li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-md btn-black-outline display-4" href="/logout">Logout</a></div>
            <% } %>
            </div>
            


            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
        </div>
    </nav>
</section>

<section class="header1 cid-r7i3Qu8Gnv mbr-fullscreen" id="header1-6">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(121, 121, 121);">
    </div>

    <div class="container align-center">
        <div class="row justify-content-center">
            <div class="mbr-white col-lg-8 col-md-10">
                <h1 class="mbr-section-title mbr-bold align-left mbr-white pb-4 mbr-fonts-style display-1">
                    <div>Start chatting with your friend</div>
                </h1>
                <p class="mbr-text align-left pb-1 mbr-fonts-style display-7">
                    Ea eiusmod fugiat esse do culpa esse.</p>
                <div class="mbr-section-btn align-left"><a class="btn btn-md btn-primary display-4" href="/chatbox">Start Now</a></div>
            </div>
        </div>
    </div>
    
</section>


<section class="footer1 cid-r7iOuFflNq" id="footer1-b">

    

    

    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-12 col-sm-12">

                <div class="navbar-brand pb-3">
                    <div class="logo">
                        <a href="https://mobirisethemes.com">
                            <img class="navbar-logo" src="assets/images/hand-spock.svg" alt="Mobirise" title="">
                        </a>
                    </div>
                </div>

                <h3 class="mbr-text mbr-bold mbr-fonts-style logo-title display-7">Company
                    Name
                </h3>

                <h4 class="mbr-text mbr-fonts-style logo-sub-title display-4">Fitness</h4>


            </div>






            <div class="col-lg-4 col-md-12 col-sm-12">

                <h3 class="mbr-text mbr-bold mbr-fonts-style group-title display-5">Contacts</h3>

                <div class="stripe"></div>

                <div class="mbr-row items mbr-white">
                    



                    
                    

                <div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                        <span class="mbr-iconfont listico mbri-tablet-vertical" style="color: rgb(10, 28, 68); fill: rgb(10, 28, 68);"></span>
                        <h5 class="mbr-fonts-style text2 display-4">123-456-78901</h5>
                    </div><div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                        <span class="mbr-iconfont listico mbri-pin" style="color: rgb(10, 28, 68); fill: rgb(10, 28, 68);"></span>
                        <h5 class="mbr-fonts-style text2 display-4">London,
                            51 Street, 43</h5>
                    </div><div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                        <span class="mbr-iconfont listico mbri-letter" style="color: rgb(10, 28, 68); fill: rgb(10, 28, 68);"></span>
                        <h5 class="mbr-fonts-style text2 display-4">name@site.com</h5>
                    </div></div>



                <div class="social-list py-4">
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-googleplus socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://instagram.com/mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-skype socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://instagram.com/mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    
                </div>


            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 img-list">
                <h3 class="mbr-text mbr-bold mbr-fonts-style group-title display-5">Newsletter</h3>
                <div class="stripe"></div>

                <p class="mbr-text mbr-normal py-2 links mbr-fonts-style display-4">
                    Subscribe to get our newsletter.</p>

                <div data-form-type="formoid">
                    <div data-form-alert="" hidden="">Thanks for filling out the form!</div>
                    <form class="mbr-form" action="https://mobirisethemes.com/" method="post" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="PZK/D6xrFufCHjV3kEt4xRFz9RdR5XcVV9ltYyFeJC4KMG/3vxGEkB57JgnNoNpaKpzf11JtBnzehGFO77pGDhLGhOJMCpZwv3ddGFnmTODZYYhnQym7arCYEH8rof1R">

                        <div data-for="person">
                            <div class="form-group">
                                <input type="mail" class="form-control" name="email" placeholder="Your e-mail" data-form-field="Email" id="email-footer1-b">
                            </div>
                        </div>
                        <span class="input-group-btn"><button href="" type="submit" class="btn btn-form btn-primary display-4">Subscribe</button></span>
                    </form>
                </div>




            </div>
        </div>
    </div>
</section>

<section class="footer2 cid-r7iNbuQaTS" id="footer2-a">

    

    

    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <p class="mbr-text links mbr-fonts-style display-4">
                    Copyright (c) 2018
                    <a href="https://mobirisethemes.com/" class="text-black">free html5 bootstrap templates</a>
                </p>
            </div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid/formoid.min.js"></script>
  
  
</body>
</html>